.contenedor {
    grid-template-rows: auto;
    grid-area: "header" "contenido" "footer";
}

.contenedor .header {
    grid-area: header;
    padding: 1rem;
}

.contenedor .header 
.nav{
   margin-left: 3rem;
    
}

.contenedor .header .nav
.navBtnCss{
    width: 10rem;
    height: 2.8rem;
    text-align: center;
    margin-right: 3px;
}

.contenedor .header .nav
.navBtnCss:hover{
   background-color: #f4f4f4;
   color: black;
}



.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .contenido .FormAgregarEmpleado{
    display: grid;
    justify-content: center;
    width: 80%;

}

.contenedor .contenido
.AdminEmpleadosCss{
    display: grid;
    justify-content: center;
    width: 80%;
}

.contenedor .contenido .AdminEmpleadosCss
.tab{
    text-align: center;
}



.contenedor .footer {
    grid-area: footer;
}

.contenedor .contenido .LoginCss {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
    height: 100%;
}

.contenedor .contenido .LoginCss {
    font-size: larger;
}

.contenedor .contenido .LoginCss .loginMensajesCss {
    font-size: 15px !important;
    margin-top: 2rem;
    text-align: center;
}