.contenedor {
    grid-template-rows: auto;
    grid-area: "header" "contenido" "footer";
}

.contenedor .header {
    grid-area: header;
}

.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .footer {
    grid-area: footer;
}

.contenedor .contenido .LoginCss {
    display: grid;
    justify-content: center;
    margin-top: 3rem;
    height: 100%;
}

.contenedor .contenido .LoginCss {
    font-size: larger;
}

.contenedor .contenido .LoginCss .loginMensajesCss {
    font-size: 15px !important;
    margin-top: 2rem;
    text-align: center;
}